#message{
  scrollbar-width: none;
 /* height : calc(100vh - 174px); */
  overflow:auto;
  background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/c8dbbe73426833.5c08f56351b26.png');
}

li{
  padding-left: 0;
  list-style: none;
}

@media screen and (max-width : 992px) {
/*  #message{
    height:calc(100vh - 126px) !important;
  } */

  #message ul{
    padding-left: 5px !important;
  }

  #message li.sent{
    position: relative;
    right: -3%;
  }

  #message li p {
    max-width: 205px !important;

  }
}

@media screen and (max-width : 363px) {
  #message li.sent{
    right: -6%;
  }

}

#message::-webkit-scrollbar{
  display: none;
}

#message li {
  float: left;
  width: calc(100% - 25px);
}


#message li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 500px ;
  line-height: 130%;

}

/* replies */
#message p.replies.message {

  overflow-wrap: break-word;
  white-space: pre-wrap;
  background: var(--dark-bg);
  color: #f5f5f5;
  display: inline-block;
  line-height: 130%;
  position: relative;
}



/*
#message p.replies.message:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #435f7a;
  border-bottom-right-radius: 15px;
}

#message p.replies.message:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 10px;
}
*/
/* sent */
#message p.sent.message{
  float: right;

  word-wrap: break-word;
  overflow-wrap: break-word;
  background: #f5f5f5;
  color: var(--dark-bg);
  position: relative;

}
/*
#message p.sent.message:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #f5f5f5;
  border-bottom-left-radius: 15px;
}

#message p.sent.message:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 10px;
}
*/

.status i{
  font-size: 10px !important;
}

.date-time{
  font-size: 11px;
}

.p-button.p-fileupload-choose{
  background-color: var(--dark-bg);
  padding: 9px !important;
  border: none;
}

.p-button.p-fileupload-choose:hover{
  background-color: var(--dark-bg) !important;

}

.p-fileupload-buttonbar{
  text-align: center;
}
.p-fileupload-buttonbar p-button button{
  background-color: var(--dark-bg);
  padding: 9px !important;
  border: none;
}

.p-fileupload-buttonbar p-button button:hover{
  background-color: var(--dark-bg) !important;

}

@media screen and (max-width : 992px) {
  .p-button.p-fileupload-choose .p-button-icon, .p-fileupload-buttonbar p-button button .p-button-icon{
    margin: 0px;
  }
  .p-button.p-fileupload-choose .p-button-label, .p-fileupload-buttonbar p-button button .p-button-label{
    display: none;
  }
}

body{
  background-color: var(--light-bg) !important;
}



.down-btn{
  background-color: var(--dark-bg) !important;
  position: absolute;
  bottom: 15%;
  z-index: 200;
  right: 20px;
}

.dropstart ul{
  top: -35px !important;
}



